<!DOCTYPE html>
<html ng-app="toolRentalApp">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Прокат инструментов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controllers.js"></script>
  </head>
  <body>
    <div class="container" ng-controller="MainController as main">

      <header class="main-header">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="logo">
                <a href="#">
                  <img src="logo.webp" alt="Прокат инструментов" class="img-responsive">
                  <span class="logo-text">Прокат<span>Люкс</span></span>
                </a>
              </div>
            </div>
            <div class="col-md-8">
              <div class="header-right">
                <nav class="main-nav">
                  <ul class="list-inline">
                    <li><a href="#" ng-click="main.setCategory('')">Главная</a></li>
                    <li><a href="#" ng-click="main.setCategory('electric')">Электроинструмент</a></li>
                    <li><a href="#" ng-click="main.setCategory('manual')">Ручной инструмент</a></li>
                  </ul>
                </nav>
                <div class="cart-preview" ng-if="main.cart.length > 0">
                  <a href="#" ng-click="main.showCart()">
                    <span class="glyphicon glyphicon-shopping-cart"></span>
                    <span class="badge">{{main.cart.length}}</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>

      <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Категории</h3>
            </div>
            <div class="panel-body">
              <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="(key, category) in main.categories" 

                    ng-class="{active: main.currentCategory === key}">
                  <a href="#" ng-click="main.setCategory(key)">
                    {{category.name}}
                    <span class="badge pull-right">
                      {{main.countToolsInCategory(key)}}
                    </span>
                  </a>
                </li>
              </ul>
            </div>
          </div>

          <div class="panel panel-default" ng-if="main.currentCategory">
            <div class="panel-heading">
              <h3 class="panel-title">Фильтры</h3>
            </div>
            <div class="panel-body">
              <div class="form-group">
                <label>Бренд:</label>
                <select class="form-control" ng-model="main.brandFilter">
                  <option value="">Все</option>
                  <option ng-repeat="brand in main.getBrands()" value="{{brand}}">
                  {{brand}}
                  </option>
                </select>
              </div>
              <div class="form-group">
                <label>Цена за день:</label>
                <input type="range" class="form-control" min="0" max="2000" 
                                                                 ng-model="main.priceFilter" ng-change="main.applyFilters()">
                <span>До {{main.priceFilter}} руб.</span>
              </div>
              <div class="checkbox">
                <label>
                  <input type="checkbox" ng-model="main.inStockOnly">
                  Только в наличии
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-9">
          <div class="jumbotron" ng-if="!main.currentCategory">
            <h2>Выберите категорию инструментов</h2>
            <img src="https://images.unsplash.com/photo-1589939705384-5185137a7f0f" style="width: -webkit-fill-available;"/>
            <p>У нас вы можете арендовать профессиональный инструмент по доступным ценам</p>
          </div>

          <div ng-if="main.currentCategory">
            <h2>{{main.categories[main.currentCategory].name}}</h2>
            <p>{{main.categories[main.currentCategory].description}}</p>

            <div class="row">
              <div class="col-sm-6 col-md-4" ng-repeat="tool in main.filteredTools">



                <div class="thumbnail" ng-class="{'out-of-stock': !tool.in_stock}">
                  <img ng-src="img/{{tool.image}}" alt="{{tool.brand}} {{tool.model}}">
                  <div class="caption">
                    <h3>{{tool.brand}} {{tool.model}}</h3>
                    <p>{{tool.description}}</p>
                    <p><strong>{{tool.price_per_day}} руб./день</strong></p>
                    <p>Залог: {{tool.deposit}} руб.</p>
                    <p ng-if="!tool.in_stock" class="text-danger">Нет в наличии</p>
                    <p>

                    <button
                        class="btn btn-primary"
                        ng-disabled="!tool.in_stock" 
                        ng-click="main.openRentalModal(tool)">
                      Арендовать
                    </button>
                    <a href="#" class="btn btn-default" role="button"
                                                        ng-click="main.showDetails(tool)">Подробнее</a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Модальное окно с деталями -->
      <div class="modal fade" id="toolDetailsModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content" ng-if="main.selectedTool">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">{{main.selectedTool.brand}} {{main.selectedTool.model}}</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <img ng-src="images/{{main.selectedTool.image}}" 
                       alt="{{main.selectedTool.brand}} {{main.selectedTool.model}}"
                       class="img-responsive">
                </div>
                <div class="col-md-6">
                  <h4>Характеристики:</h4>
                  <ul class="list-group">
                    <li class="list-group-item" 
                        ng-repeat="(key, value) in main.selectedTool.specs">
                      <strong>{{main.getSpecName(key)}}:</strong> {{value}}
                    </li>
                  </ul>
                  <p><strong>Вес:</strong> {{main.selectedTool.weight_kg}} кг</p>
                  <p><strong>Цена:</strong> {{main.selectedTool.price_per_day}} руб./день</p>
                  <p><strong>Залог:</strong> {{main.selectedTool.deposit}} руб.</p>
                  <p ng-if="!main.selectedTool.in_stock" class="text-danger">Нет в наличии</p>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
              <a href="#" class="btn btn-primary" role="button" 
                                                  ng-disabled="!tool.in_stock" 
                                                  ng-click="main.addToCart(tool)">
                Арендовать
              </a></div>
          </div>
        </div>
      </div>


      <div class="modal fade" id="rentModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              <h4 class="modal-title">Оформление аренды: <strong>{{main.rentalTool.brand}} {{main.rentalTool.model}}</strong></h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-md-6">
                  <h4>Контактная информация:</h4>
                  <div class="well">
                    <p><strong>Адреса пунктов выдачи:</strong></p>
                    <ul>
                      <li>ул. Центральная, 15 (м. Центр)</li>
                      <li>пр. Строителей, 42 (м. Северная)</li>
                      <li>ул. Инструментальная, 7 (м. Западная)</li>
                    </ul>
                    <p><strong>Телефон:</strong> 8 (800) 123-45-67</p>
                    <p><strong>Email:</strong> rent@renttools.ru</p>
                    <p><strong>Часы работы:</strong> 9:00 - 21:00 без выходных</p>
                  </div>
                </div>
                <div class="col-md-6">
                  <h4>Ваши данные:</h4>
                  <form>
                    <div class="form-group">
                      <label>Имя:</label>
                      <input type="text" class="form-control" ng-model="main.rentalData.name" required>
                    </div>
                    <div class="form-group">
                      <label>Телефон:</label>
                      <input type="tel" class="form-control" ng-model="main.rentalData.phone" required>
                    </div>
                    <div class="form-group">
                      <label>Дата аренды:</label>
                      <input type="date" class="form-control" ng-model="main.rentalData.date" required>
                    </div>
                    <div class="form-group">
                      <label>Количество дней:</label>
                      <input type="number" class="form-control" ng-model="main.rentalData.days" min="1" value="1" required>
                    </div>
                  </form>
                  <div class="alert alert-info">
                    <strong>Итого к оплате:</strong> 
                    {{main.rentalTool.price_per_day * (main.rentalData.days || 1)}} руб.
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
              <button type="button" class="btn btn-primary" ng-click="main.submitRental()">Подтвердить аренду</button>
            </div>
          </div>
        </div>
      </div>

    </div>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>
