<header class="main-header" ng-controller="HeaderController as header">
  <div class="container">
    <div class="row">
      <div class="col-md-4 hidden-xs">
        <div class="logo">
          <a href="#/">
            <img src="logo.webp" alt="Прокат инструментов" class="img-responsive">
            <span class="logo-text">Rent<span>Tools</span></span>
          </a>
        </div>
      </div>


      <div class="col-md-8 col-xs-12">
        <div class="header-right">
          <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" ng-click="header.isNavCollapsed = !header.isNavCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>

              <!--
                  <a class="navbar-brand" href="/#!">Main menu</a>
              -->
            </div>

            <div class="collapse navbar-collapse" uib-collapse="header.isNavCollapsed">
              <ul class="nav navbar-nav">
                <li>
                  <a href="javascript:void(0)" ng-click="header.route('/')">Главная</a>
                </li>

                <li class="dropdown" ng-if="header.getCategories()" data-toggle="collapse">

                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    Категории <span class="caret"></span>
                  </a>

                  <ul class="dropdown-menu">
                    <li ng-repeat="(key, category) in header.getCategories()">
                  <a href="javascript:void(0)" ng-click="header.routeCategoty(key)">{{category.name}}</a>
                    </li>
                  </ul>
                </li>

                <li>
                  <a href="javascript:void(0)" ng-click="header.route('/contacts')">Контакты</a>
                </li>
              </ul>
            </div>
          </nav>

          <hr/>

          <!--
              <nav class="main-nav">
              <ul class="nav navbar-nav">
                <li><a href="/">Главная</a></li>

                <li class="dropdown" ng-if="header.getCategories()">

                  <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                    Категории <span class="caret"></span>
                  </a>

                  <ul class="dropdown-menu">
                    <li ng-repeat="(key, category) in header.getCategories()">
                      <a ng-href="#!/category/{{key}}">{{category.name}}</a>
                    </li>
                  </ul>
                </li>

                <li><a href="#!/contacts">Контакты</a></li>
              </ul>
            </nav>
          -->


          <div class="cart-preview">
            <a href="#" ng-click="main.showCart()">
              <span class="glyphicon glyphicon-shopping-cart"></span>
              <span class="badge">{{main.cart.length}}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
