<header class="main-header"  ng-controller="HeaderController as header">
  
<div class="container">
    <div class="header-flex">
      <div class="logo">
        <a href="#/">
          <img src="images/logo.png" alt="RentTools">
          <span>RentTools</span>
        </a>
      </div>
      
      <!-- Кнопка меню для мобильных -->
      <button class="menu-toggle" ng-click="header.isMenuOpen = !header.isMenuOpen">
        ☰
      </button>
      
      <!-- Основное меню -->
      <nav class="main-nav" ng-class="{'open': header.isMenuOpen}">
        <ul>
          <li><a ng-href="#!/">Главная</a></li>
          
          <!-- Выпадающий пункт -->
          <li class="dropdown" ng-class="{'open': header.isDropdownOpen}">
            <a href="#" ng-click="header.toggleDropdown($event)">
              Категории ▼
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="(key, category) in header.shared.categories">
                <a ng-href="#!/category/{{key}}">{{category.name}}</a>
              </li>
            </ul>
          </li>
          
          <li><a ng-href="#!/contacts">Контакты</a></li>
          <li class="cart-link">
            <a href="#" ng-click="showCart()">
              Корзина <span class="badge">{{cartCount}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  
</header>
