<div class="container" ng-if="!product.notFound">

  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img ng-src="img/{{product.product.image}}" 
           class="img-responsive product-image"
           alt="{{product.product.brand}} {{product.product.model}}">
    </div>
    <div class="col-xs-12 col-md-6">
      <h1>{{product.product.brand}} {{product.product.model}}</h1>
      <p class="lead">{{product.product.description}}</p>
      
      <div class="well">
        <h3>Характеристики:</h3>
        <ul class="list-unstyled">
          <li ng-repeat="(spec, value) in product.product.specs">
            <strong>{{product.getSpecName(spec)}}:</strong> {{value}}
          </li>
          <li><strong>Вес:</strong> {{product.product.weight_kg}} кг</li>
        </ul>
      </div>
      
      <div class="price-box">
        <h3>{{product.product.price_per_day}} руб./день</h3>
        <p>Залог: {{product.product.deposit}} руб.</p>
        <button class="btn btn-primary btn-lg"
                ng-click="product.openRentalModal()"
                ng-disabled="!product.product.in_stock">
          Арендовать
        </button>
        <a ng-href="#!/category/{{product.product.category}}" class="btn btn-link">
          ← Все {{product.shared.categories[product.product.category].name}}
        </a>
      </div>
    </div>
  </div>
</div>

<div class="container" ng-if="product.notFound">
  <div class="jumbotron">
    <h1>Инструмент не найден</h1>
    <p>Запрошенный инструмент отсутствует в нашем каталоге.</p>
    <a ng-href="#/" class="btn btn-primary">На главную</a>
  </div>
</div>


<div class="modal fade" id="rentModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Оформление аренды: <strong>{{product.product.brand}} {{product.product.model}}</strong></h4>
      </div>
      <div class="modal-body">

        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-6">
            <h4>Наши контакты</h4>

            <div class="contact-info-sm">
              <h4><span class="glyphicon glyphicon-map-marker"></span> Адрес:</h4>
              <p>{{product.shared.contactInfo.address}}</p>

              <h4><span class="glyphicon glyphicon-phone"></span> Телефон:</h4>
              <p>{{product.shared.contactInfo.phone}}</p>

              <h4><span class="glyphicon glyphicon-envelope"></span> Email:</h4>
              <p>{{product.shared.contactInfo.email}}</p>

              <h4><span class="glyphicon glyphicon-send"></span> Мессенджеры:</h4>
              <div class="messengers">
                <a ng-repeat="m in product.shared.messengers" 
                   href="{{m.link}}" 
                   class="btn btn-contact {{m.class}}"
                   target="_blank">
                  <span class="glyphicon glyphicon-{{m.icon}}"></span> {{m.name}}
                </a>
              </div>

              <h4><span class="glyphicon glyphicon-time"></span> Часы работы:</h4>
              <p ng-bind-html="product.shared.contactInfo.workingHours"></p>
            </div>

          </div>

          <div class="col-xs-12 col-sm-6 col-md-6">
            <h4>Ваши данные:</h4>
            <form>
              <div class="form-group">
                <label>Имя:</label>
                <input type="text" class="form-control" ng-model="main.rentalData.name" required>
              </div>
              <div class="form-group">
                <label>Телефон:</label>
                <input type="tel" class="form-control" ng-model="main.rentalData.phone" required>
              </div>
              <div class="form-group">
                <label>Дата аренды:</label>
                <input type="date" class="form-control" ng-model="main.rentalData.date" required>
              </div>
              <div class="form-group">
                <label>Количество дней:</label>
                <input type="number" class="form-control" ng-model="main.rentalData.days" min="1" value="1" required>
              </div>
            </form>
            <div class="alert alert-info">
              <strong>Итого к оплате:</strong> 
              {{product.product.price_per_day * (main.rentalData.days || 1)}} руб.
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
        <button type="button" class="btn btn-primary" ng-click="main.submitRental()">Подтвердить аренду</button>
      </div>
    </div>
  </div>
</div>
